@import 'tailwindcss';

:root {
    --bg-color: black;
    --text-color: white;
    --border-color: black;
    --spotlight-color: white;
}

* {
    font-family: monospace;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/*-----Navber-----*/

.nav-container {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.nav-items ul li a:hover {
    color: rgb(191, 191, 191);
}

/*-----Hero-----*/

.hero-bio-text {
    font-family: "Fira Code", "JetBrains Mono", "Cascadia Code", Monaco, Consolas, monospace;
}

.hero-main-text {
    -webkit-text-stroke: 5px black;
    font-family: Impact;
}

/*-----Spotlight-----*/

.landing {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.spotlight {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;

  background: var(--spotlight-color);
  mix-blend-mode: difference;


  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 0;
}

/*-----WhoAmI-----*/

